@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    color: #f7f7f7;
    height: 100%;
    
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

.header {
    margin: 30px;
    text-align: center;
}

.hor {
    width: 100%;
    height: 180px;
    background: green;
    display: flex;
}

.square {
    height: 100px;
    width: 150px;
    border: black solid 3px;
}

.square .garis {
    margin-top: 10px;
}

.kliring {
    width: 130px;
}

/* modal open|close controller */
#mpo-modal-controller {
    position: absolute;
    left: -999em;
    opacity: 0;
}

.mpo-modal-open:checked~.mpo-modal-wrap {
    display: block;
}

.mpo-modal-open:checked~.mpo-modal-wrap:before,
.mpo-modal-open:checked~.mpo-modal-wrap .mpo-modal-overlay {
    display: block;
}

.mpo-modal-close {
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

/* modal */
.mpo-modal-wrap {
    display: none;
}

.mpo-modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}

.mpo-modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

.mpo-modal-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
    padding: 15px 0;
    background: #fff;
    border-radius: 0.25em;
    overflow: hidden;
    text-align: center;
    width: 75%;
    z-index: 103;
}

.mpo-modal-body p {
    text-align: left;
    line-height: 1.3;
}

.mpo-modal-content {
    margin: 30px 15px 50px;
    padding: 50px 0 0;
    position: relative;
}

.mpo-modal-slide {
    display: flex;
    position: absolute;
    transition: all 0.4s ease-in;
    width: 100%;
}

.modal-content-2 {
    left: 100%;
}

.modal-content-3 {
    left: 200%;
}

#modal-content-1:checked~.content-1 {
    left: 0;
    overflow: auto;
    position: relative;
}

#modal-content-1:checked~.content-2 {
    left: 100%;
}

#modal-content-2:checked~.content-1 {
    left: -100%;
}

#modal-content-2:checked~.content-2 {
    left: 0;
    overflow: auto;
    position: relative;
}

#modal-content-2:checked~.content-3 {
    left: 100%;
}

#modal-content-3:checked~.content-1 {
    left: -200%;
}

#modal-content-3:checked~.content-2 {
    left: -100%;
}

#modal-content-3:checked~.content-3 {
    left: 0;
    overflow: auto;
    position: relative;
}

.mpo-modal-nav {
    position: absolute;
    top: 50px;
    width: 100%;
}

.mpo-modal-nav label {
    position: absolute;
    background: #f7f7f7;
    color: #303030;
    cursor: pointer;
    display: inline-block;
    font: 50px Arial;
    line-height: 45px;
    height: 50px;
    width: 80px;
    padding: 0 30px 0 25px;
    text-decoration: none;
    vertical-align: middle;
    letter-spacing: -7px;
    text-align: center;
}

.mpo-modal-nav label.prev-slide {
    content: '';
    left: 0;
}

.mpo-modal-nav label.next-slide {
    content: '';
    right: 0;
}

.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 8px 15px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .mpo-modal-body {
        max-width: 100%;
        width: 100%;
        border-radius: 0;
    }
}

#pembuka {
    background: #555;
    opacity: 0.9;
    padding: 2em;
    border: #f7f7f7 2px solid;
    position: absolute;
    max-width: 50%;
    margin-top: 200px;
    right: 50px;
}

h1 {
    text-align: center;
    font-family: Tahoma, Arial, sans-serif;
    color: #06D85F;

}

.row {
    display: flex;
}
.box {
    background: #555;
    opacity: 0.9;
    padding: 2em;
    border: #f7f7f7 2px solid;
    position: absolute;
    max-width: 50%;
    margin-top: 600px;
    right: 50px;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 80%;
    height: 100pc;
    min-height: 300px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #06D85F;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}

.box2 {
    background: #555;
    opacity: 0.9;
    padding: 2em;
    border: #f7f7f7 2px solid;
    position: absolute;
    max-width: 50%;
    margin-top: 600px;
    right: 50px;
}

.box3 {
    background: #555;
    opacity: 0.9;
    padding: 2em;
    border: #f7f7f7 2px solid;
    position: absolute;
    max-width: 50%;
    margin-top: 600px;
    right: 50px;
}
.box4 {
    background: #555;
    opacity: 0.9;
    padding: 2em;
    border: #f7f7f7 2px solid;
    position: absolute;
    max-width: 50%;
    margin-top: 600px;
    right: 50px;
}